.main_table {
  border: 1px solid transparent;
  color: white;
  text-align: center;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 0.9rem !important;
}

.main_table tr {
  cursor: pointer;
  transition: all 150ms;
}

.main_table tbody tr:hover {
  background-color: var(--DarkGrayHover);
}

.main_table th {
  padding: 20px 15px;
}

.main_table td {
  padding: 10px;
}